<button
  color="warn"
  (click)="onNoClick()"
  mat-mini-fab
  aria-label="Example icon button with a vertical three dot icon"
>
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>
  <h1 class="ml-20">Ingredientes Populares</h1>
  <ul *ngFor="let ingrediente of data" class="list">
    <li (click)="detalle(ingrediente.strIngredient)">
      {{ ingrediente.strIngredient }}
    </li>
  </ul>
</div>
<div mat-dialog-actions></div>
