mat-grid-tile {
  background: lightblue;
}
.img{
  opacity: 0.6;
}

.card{
 width: 300px;
 height: auto;
 margin-top: 100px;
}
.mat-grid-tile{
  background-color: #fff !important;
}
.spinner {
  margin-top: 20%;
  text-align: center;
}
.mat-progress-spinner{
  margin: 0 auto;
}
