<div class="body">
  <div class="login">
    <form (submit)="submit()" [formGroup]="form">
      <img [src]="logo" alt="" width="50%" height="80%" />
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label class="text-grey">Usuario</mat-label>
        <input
          matInput
          (input)="reset()"
          placeholder="Ingrese usuario"
          formControlName="usuario"
        />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label class="text-grey">Password</mat-label>
        <input
          matInput
          (input)="reset()"
          placeholder="Ingrese password"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox class="example-margin">Recordar sesión</mat-checkbox>
      </section>
      <br />
      <button
        class="ancho"
        mat-raised-button
        mat-button
        type="submit"
        color="secondary"
      >
        Ingresar
      </button>
      <div *ngIf="!invalido">
        <mat-label class="text-warn">
          Las credenciales son incorrectas
        </mat-label>
      </div>
    </form>
  </div>
</div>
