<button
  color="warn"
  (click)="onNoClick()"
  mat-mini-fab
  aria-label="Example icon button with a vertical three dot icon"
>
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <img [src]="data.img" class="img" />
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="detalle(data.id)">
    Ver Detalle
  </button>
</div>
