<mat-grid-list cols="3" rowHeight="1:1" class="grid">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-header class="titulo">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Datos del usuario</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="/assets/img/perfil.png"
        alt="Foto de usuario"
        class="img"
      />
      <mat-card-content class="content">
        <p><strong>Nombre: </strong> Fernando Aguilar</p>
        <p><strong>Correo: </strong> correo@gmail.com</p>
        <p><strong>Telefono: </strong> 55 5555 5555</p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
